* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#socialsImg {
  width: 10%;
  object-fit: contain;
  cursor: pointer;
  margin: 1%;
}

#navLink {
  margin-right: 3%;
  border: 2px solid white;
}
