@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  color: DarkSlateGray;
}

#socialsImg {
  width: 10%;
  object-fit: contain;
  cursor: pointer;
  margin: 1%;
}

#navLink {
  margin-right: 3%;
}
