.embla {
  position: relative;
  background-color: #f7f7f7;
  padding: 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  position: relative;
  width: 30%;
  min-width: 30%;
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 210px;
  width: 100%;
  border-radius: 14px;
}
.embla__slide__inner:hover h3 {
  visibility: visible;
}

.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 80%;
  object-fit: contain;
  min-height: 80%;
  min-width: 80%;
  max-width: none;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

.embla__slide__inner:hover .embla__slide__img {
  transform: translateX(-100px);
  opacity: 0.4;
}

h3 {
  margin-top: 5%;
  visibility: hidden;
}
